img {
    width: 100%;
    height: 520px;
}

body {
    background-color: grey;
    color: black;
    width: 90%;
    margin: auto;
}

nav {
    background-color: goldenrod;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

div.feed {
    color: black;
}

.menu {
    list-style-type: none;
    height: 50px;
}